# Backend NestJS GraphQL local.
NUXT_GRAPHQL_ENDPOINT="http://localhost:4000/graphql"

# Mantener temporalmente mientras se migran todos los endpoints server/api a GraphQL.
DATABASE_URL="postgresql://USER.PROJECT_REF:PASSWORD@REGION.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER.PROJECT_REF:PASSWORD@REGION.pooler.supabase.com:5432/postgres"
NUXT_SESSION_SECRET="genera-una-cadena-larga-y-aleatoria-de-minimo-32-caracteres"
